#root
  min-height: 100%
  
#layout
  overflow: auto
  background-image: url('../images/light-bg.png')
  background-size: cover
  background-color: #cbb49d
  transition: background-image 0.3s
  background-position: right
  height: 100vh
  display: flex 
  flex-direction: column
  color: $black
  main
    flex: 1

  header 
    z-index: 100
    position: sticky
    top: 0px
    .dark-mode-toggle 
      color: $blue    
      transition: 0.3s
    .wookie-mode-toggle 
      transition: 0.3S  