// ------- BACKGROUND COLOR ---------- 

.bg-black 
  background-color: $black 

.bg-side 
  background-color: $white

// ----------------------------

// ------- TEXT SIZE ---------- 

.text-xl
  font-size: 6rem !important

.text-lg
  font-size: 2.5rem !important

.text-xs
  font-size: 0.8rem !important

// ----------------------------

// ------- TEXT COLOR ---------- 

.text-yellow 
  color: $yellow

.text-black 
  color: $black

.text-wookie
  color: $wookie

.text-side 
  color: $black

// ----------------------------

// ------- TEXT STROKE ---------- 

.stroke-yellow
  @include stroke(1, $yellow)

.stroke-white
  @include stroke(1, $white)

// ---------- FORM -------------

.form-control 
  background-color: darken($white, 15%)
  border: none
  box-shadow: none
  &:focus
    border: none
    box-shadow: none


// ----------------------------

// ---------- MISC -------------

.hero-container
  max-width: 100%
  width: 500px 

.semi-transparent 
  opacity: 0.5
  
.lh-1
  line-height: 1rem

.btn 
  box-shadow: none !important

@media (max-width: 576px)
  .btn-xs-block
    display: block;
    width: 100%;

.shadow 
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.25)!important;

.anim-spinner
  -webkit-animation: spinner linear 1.2s infinite
  animation: spinner linear 1.2s infinite

.anim-opacity
  -webkit-animation: opacity .3s
  animation: opacity .3s

// ----------------------------
