@import 'variables'
@import 'reset'
@import 'keyframes'
@import 'classes'

#root
  min-height: 100%
  
#layout
  background-image: url('../images/light-bg.png')
  background-size: cover
  background-position: right
  height: 100vh